## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [4]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [58]:
df_2000 = pd.read_csv('.\Datasets\gasolina_2000+.csv')
df_2010 = pd.read_csv('.\Datasets\gasolina_2010+.csv')

C:\Users\VICTORCORREAGOMES\AppData\Local\Temp\ipykernel_19916\1287808904.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2010 = pd.read_csv('.\Datasets\gasolina_2010+.csv')

In [6]:
df_2000.shape

(42638, 19)

In [7]:
df_2010.shape

(78185, 19)

In [59]:
df = pd.concat([df_2000, df_2010])

In [9]:
df.shape

(120823, 19)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [10]:
df.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 78184
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     120823 non-null  int64
 1   DATA INICIAL                   120823 non-null  object
 2   DATA FINAL                     120823 non-null  object
 3   REGIÃO                         120823 non-null  object
 4   ESTADO                         120823 non-null  object
 5   PRODUTO                        120823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 7   UNIDADE DE MEDIDA              120823 non-null  object
 8   PREÇO MÉDIO REVENDA            120823 non-null  float64
 9   DESVIO PADRÃO REVENDA          120823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           120823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 12  MARGEM MÉDIA REVENDA           120823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(2), object(12)
memory usage: 18.4+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [12]:
inicial_df = df['DATA INICIAL'].iloc[2]
type(inicial_df)

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [13]:
# Verificar se há dados ausentes na coluna 'DATA INICIAL'
dados_ausentes_inicial = df['DATA INICIAL'].isnull().sum()
print("Número de dados ausentes na coluna 'DATA INICIAL':", dados_ausentes_inicial)

# Verificar se há dados ausentes na coluna 'DATA FINAL'
dados_ausentes_final = df['DATA FINAL'].isnull().sum()
print("Número de dados ausentes na coluna 'DATA FINAL':", dados_ausentes_final)

Número de dados ausentes na coluna 'DATA INICIAL': 0
Número de dados ausentes na coluna 'DATA FINAL': 0

In [14]:
df['DATA INICIAL'] = pd.to_datetime(df['DATA INICIAL'], format ='%Y-%m-%d')
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'], format ='%Y-%m-%d')

In [15]:
df['DATA INICIAL'].dtype #datetime type

dtype('<M8[ns]')

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [16]:
df['ANO/MES'] = df['DATA FINAL'].dt.strftime('%Y-%m')
df['ANO/MES']

0        2004-05
1        2004-05
2        2004-05
3        2004-05
4        2004-05
          ...
78180    2021-05
78181    2021-05
78182    2021-05
78183    2021-05
78184    2021-05
Name: ANO/MES, Length: 120823, dtype: object

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [17]:
df['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [18]:
normal_gasolin_data = df[df['PRODUTO'] == 'GASOLINA COMUM']
normal_gasolin_data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO/MES
9256,12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
9257,12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
9258,12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
9259,12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
9260,12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78083,120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
78084,120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
78085,120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
78086,120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
78087,120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [19]:
august_2008 = normal_gasolin_data[(normal_gasolin_data['DATA FINAL'].dt.year == 2008) & (normal_gasolin_data['DATA FINAL'].dt.month == 8)]

In [20]:
preco_medio_revenda = august_2008['PREÇO MÉDIO REVENDA'].mean()

In [21]:
print(f'O preço médio de revenda da gasolina em agosto de 2008 foi um total de {preco_medio_revenda}')

O preço médio de revenda da gasolina em agosto de 2008 foi um total de 2.6012444444444447

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [22]:
may_2014 = normal_gasolin_data[(normal_gasolin_data['DATA FINAL'].dt.year == 2014) & (normal_gasolin_data['DATA FINAL'].dt.month == 5)]

In [23]:
may_2014_SP = may_2014[(may_2014['ESTADO'] == 'SAO PAULO')]

In [24]:
preco_medio_revenda_SP = may_2014_SP['PREÇO MÉDIO REVENDA'].mean()

In [25]:
print(f'O preço médio de revenda da gasolina em maio de 2014 em São Paulo foi um total de {preco_medio_revenda_SP}')

O preço médio de revenda da gasolina em maio de 2014 em São Paulo foi um total de 2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [67]:
gasolina_5 = df[df['PREÇO MÉDIO REVENDA'] > 5]

In [75]:
estados_5 = gasolina_5[['ESTADO', 'DATA FINAL', 'PREÇO MÉDIO REVENDA']]

In [77]:
estados_5

                   ESTADO  DATA FINAL  PREÇO MÉDIO REVENDA
18516    DISTRITO FEDERAL  2004-05-15               33.989
18517               GOIAS  2004-05-15               30.335
18518         MATO GROSSO  2004-05-15               38.568
18519  MATO GROSSO DO SUL  2004-05-15               33.388
18520             ALAGOAS  2004-05-15               32.391
...                   ...         ...                  ...
78112           SAO PAULO  2021-05-01               85.340
78113             SERGIPE  2021-05-01               83.508
78114           TOCANTINS  2021-05-01               93.867
78131                ACRE  2021-05-01                5.550
78158                ACRE  2021-05-01                5.209

[24304 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [80]:
south_2012 = normal_gasolin_data[(normal_gasolin_data['DATA FINAL'].dt.year == 2012) & (normal_gasolin_data['REGIÃO'] == 'SUL')]

In [81]:
south_2012

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO/MES
4236,22752,2012-01-01,2012-01-07,SUL,PARANA,GASOLINA COMUM,563,R$/l,2.706,0.104,2.469,3.150,0.338,0.038,2.368,0.056,2.25,2.58,0.024,2012-01
4237,22753,2012-01-01,2012-01-07,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,613,R$/l,2.810,0.076,2.629,3.074,0.416,0.027,2.394,0.044,2.2832,2.5536,0.018,2012-01
4238,22754,2012-01-01,2012-01-07,SUL,SANTA CATARINA,GASOLINA COMUM,384,R$/l,2.754,0.084,2.509,3.038,0.382,0.031,2.372,0.037,2.249,2.4589,0.016,2012-01
4263,22779,2012-01-08,2012-01-14,SUL,PARANA,GASOLINA COMUM,564,R$/l,2.704,0.104,2.459,3.150,0.347,0.038,2.357,0.058,2.25,2.58,0.025,2012-01
4264,22780,2012-01-08,2012-01-14,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,612,R$/l,2.799,0.082,2.589,3.074,0.416,0.029,2.383,0.046,2.2817,2.5536,0.019,2012-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5587,24103,2012-12-16,2012-12-22,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,616,R$/l,2.775,0.099,2.530,3.099,0.414,0.036,2.361,0.046,2.244,2.5354,0.019,2012-12
5588,24104,2012-12-16,2012-12-22,SUL,SANTA CATARINA,GASOLINA COMUM,385,R$/l,2.748,0.089,2.390,2.998,0.403,0.032,2.345,0.042,2.25,2.4603,0.018,2012-12
5613,24129,2012-12-23,2012-12-29,SUL,PARANA,GASOLINA COMUM,564,R$/l,2.805,0.076,2.530,3.150,0.413,0.027,2.392,0.049,2.2336,2.595,0.02,2012-12
5614,24130,2012-12-23,2012-12-29,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,616,R$/l,2.775,0.099,2.530,3.099,0.415,0.036,2.36,0.048,2.244,2.5354,0.02,2012-12
5615,24131,2012-12-23,2012-12-29,SUL,SANTA CATARINA,GASOLINA COMUM,386,R$/l,2.747,0.094,2.350,2.999,0.394,0.034,2.353,0.038,2.24,2.45,0.016,2012-12

In [85]:
price_south_2012 = south_2013['PREÇO MÉDIO REVENDA'].mean()

In [86]:
print(f'O preço médio de revenda da gasolina dos estados da região sul em 2012 foi um total de {price_south_2012}')

O preço médio de revenda da gasolina dos estados da região sul em 2012 foi um total de 2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [35]:
rj_data = normal_gasolin_data[(normal_gasolin_data['ESTADO'] == 'RIO DE JANEIRO')]

In [93]:
rj_data['MES'] = rj_data['DATA FINAL'].dt.month

C:\Users\VICTORCORREAGOMES\AppData\Local\Temp\ipykernel_19916\4045657628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rj_data['MES'] = rj_data['DATA FINAL'].dt.month

In [94]:
df_month_rio = rj_data.groupby("VARIAÇÃO POR ANO")[['PREÇO MÉDIO REVENDA', 'MES']].last()

In [98]:
(df_month_rio[df_month_rio["MES"] == 12] / df_month_rio[df_month_rio["MES"] == 12].shift(1) -1) * 100

                  PREÇO MÉDIO REVENDA  MES
VARIAÇÃO POR ANO
2004                              NaN  NaN
2005                         9.233449  0.0
2006                         0.917065  0.0
2007                         0.355591  0.0
2008                         0.984252  0.0
2009                         1.637427  0.0
2010                         2.032988  0.0
2011                         7.105263  0.0
2012                         0.982801  0.0
2013                         6.777894  0.0
2014                         4.361979  0.0
2015                        20.461634  0.0
2016                         3.625065  0.0
2017                        13.643178  0.0
2018                         5.804749  0.0
2019                         3.802993  0.0
2020                        -1.321321  0.0